################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ControleRemotoBot/bin
/ControleRemotoBot/obj
/.vs
/RemoteControlBot/bin
/RemoteControlBot/obj
